$purple: rgb(120, 61, 190)
$green: rgb(119, 189, 30)
$red: rgb(233, 74, 53)
$yellow: rgb(248, 227, 0)
$blue: rgb(1, 179, 227)
$black: rgb(0, 0, 0)

$font-77: 77 * 1.3px
$font-60: 60 * 1.3px
$font-53: 53 * 1.3px
$font-48: 48 * 1.3px
$font-24: 23px
$font-20: 20 * 1.3px
$font-19: 17.5px
$font-18: 18 * 1.3px
$font-15: 15 * 1.3px
$font-14: 14 * 1.3px
$font-13: 13 * 1.3px
$font-12: 12 * 1.3px
